<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Summary</h3>
  </div>
  <div class="panel-body">
    Advances: <%= Advance.advances_open.sum(:price) %> <br />
    Balance: <%= Advance.total_balance%> <br />
       Lucre: <%= Advance.total_lucre %> <br />
       <%= link_to "Lucro por mes click aqui", advance_dashboard_path, class: "label label-primary" %> 
  </div>
 
</div>

<h3>Summary by daily City</h3>
<% @item_advances.each do |item| %> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= item.cidade %></h3>
    </div>
    <div class="panel-body"> 
      Total Diária:  <%= item.valor %> <br />
      Total Cobrado: <%= item.valor_pago %>  </br>
      Saldo Caixa:   <%= CurrentAccount.saldo(item.id) %>
    </div>
  </div>
<% end %>
