<%= form_for(@advance) do |f| %>
  <% if @advance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advance.errors.count, "error") %> prohibited this advance from being saved:</h2>

      <ul>
      <% @advance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date_advance %><br>
    <%= f.date_select :date_advance, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :client_id %><br>
    <%= f.select( :client_id, Client.order(:name).collect {|c| [c.name, c.id]} , {include_blank: true}, {class: "form-control"} )%>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, {class: "form-control"} %>
  </div>
<!--   
  <div class="form-group">
    <%#= f.label :balance %><br>
    <%#= f.text_field :balance %>
  </div>
 -->  
  <div class="form-group">
    <%= f.label :number_parts %><br>
    <%= f.text_field :number_parts, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :percent %><br>
    <%= f.text_field :percent, {class: "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary btn-block'  %>
    <%= link_to t('back'), advances_path, class: 'btn btn-default btn-block' %>
  </div>
<% end %>
