<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @advance.client.city.name %>
  -
  <strong>Client:</strong>
  <%= @advance.client.name %>
</p>

<p>
  <strong>Date advance:</strong>
  <%= @advance.date_advance %>
</p>

<p>
  <strong>Price:</strong>
  <%= @advance.price %>
  -
  <strong>Balance:</strong>
  <%= @advance.balance %>
  -
  <strong>Payd:</strong>
  <%= @advance.payd %>
</p>

<p>
  <strong>Number parts:</strong>
  <%= @advance.number_parts %>
  -
  <strong>Percent:</strong>
  <%= @advance.percent %>
</p>

<p>
  <strong>Status:</strong>
  <%= @advance.name_status %>
</p>

<%= link_to 'Edit', edit_advance_path(@advance) %> |
<%= link_to 'Back', advances_path %>


<table>
  <thead>
    <tr>
      <th>Parts</th>
      <th>Due Date</th>
      <th>Price</th>
      <th>Date payment</th>
      <th>Value payment</th>
      <th>Dalay</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advance.item_advances.each do |item| %>
      <tr>
        <td><%= item.parts %></td>
        <td><%= item.due_date %></td>
        <td><%= item.price %></td>
        <td><%= item.date_payment %></td>
        <td><%= item.value_payment %></td>
        <td><%= item.dalay %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
