<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @client.city.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>District:</strong>
  <%= @client.district %>
</p>

<p>
  <strong>Fone:</strong>
  <%= @client.fone %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
