<ul class="nav navbar-nav ">
  <li><%= nav_link t('links.dashboard'), dashboard_path %></li>
  <li><%= nav_link t('links.cities'), cities_path %></li>
  <li><%= nav_link t('links.costs'), costs_path %></li>
  <li><%= nav_link t('links.holidays'), holidays_path %></li>
  <li><%= nav_link t('links.clients'), clients_path %></li>
  <li><%= nav_link t('links.advances'), advances_path %></li>
  <li><%= nav_link t('links.cash'), current_accounts_path %></li>
</ul>
