<ul class="nav navbar-nav ">
  <li><%= nav_link "Dashboard", dashboard_path %></li>
  <li><%= nav_link "Cities", cities_path %></li>
  <li><%= nav_link "Costs", costs_path %></li>
  <li><%= nav_link "Holidays", holidays_path %></li>
  <li><%= nav_link "Clients", clients_path %></li>
  <li><%= nav_link "Advances", advances_path %></li>
  <li><%= nav_link "Cash", current_accounts_path %></li>
</ul>
